<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="htmx.min.js"></script>
    <script>
      navigator.serviceWorker.register("worker.js");
    </script>
  </head>
  <body>
    {{ block "form" . }}
    <form class="box" id="tq-form">
      <div class="field" id="tq-form-field-query">
        <label class="label">Query</label>
        <div class="control">
          <textarea
            class="textarea"
            name="query"
            id="query"
            hx-post="api/process"
            hx-trigger="input changed delay:500ms"
            hx-sync="this:replace"
            hx-swap="outerHTML"
            hx-target="#tq-form"
            placeholder="Enter the query:"
          >{{ .query }}</textarea>
        </div>
      </div>
    </form>
    {{ end }}
  </body>
</html>
