<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="style.css"/>
    <script src="htmx.min.js"></script>
    <script>
      navigator.serviceWorker.register("worker.js");
    </script>
  </head>
  <body>
    <form class="box" id="tq-form">

      <div class="field" id="tq-form-field-query">
        <label class="label">Query</label>
        <div class="control">
          <textarea
            class="textarea"
            name="query"
            id="query"
            hx-post="api/process"
            hx-trigger="input changed delay:1000ms"
            hx-sync="this:replace"
            hx-swap="outerHTML"
            hx-target="#tq-form"
            placeholder="Enter the query:"
          >.</textarea>
        </div>
      </div>

      <div class="field" id="tq-form-field-input">
        <label class="label">TOML</label>
        <div class="control">
          <textarea
            class="textarea"
            name="input"
            id="input"
            hx-post="api/process"
            hx-trigger="input changed delay:1000ms"
            hx-sync="this:replace"
            hx-swap="outerHTML"
            hx-target="#tq-form"
            placeholder="Enter the data:"
          >.</textarea>
        </div>
      </div>

      <div class="field" id="tq-form-field-output">
        <label class="label">Output</label>
        <div class="control">
          <textarea
            class="textarea"
            name="output"
            id="output"
            placeholder="output..."
            readonly
          ></textarea>
        </div>
      </div>

    </form>
  </body>
</html>
